<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Simple Test Suite" parallel="methods" thread-count="8">

    <test name="Simple Test">
        <classes>
            <class name="org.selenium.homework.SimpleTest">
            </class>
        </classes>
    </test>
</suite>